<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
  <p>
    <a th:href="@{/giocatori/{id}(id=${id})}">Vai al giocatore</a>
  </p>
  <h1>Modifica il giocatore</h1>
  <form th:action="@{/admin/giocatori/{id}/modifica(id=${id})}" method="POST" th:object="${form}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <p>
      <label>Nome:</label> <span><input type="text" th:field="${form.nome}"/></span>
      <span th:if="${#fields.hasErrors('nome')}" th:errors="${form.nome}"></span>
    </p>
    <p>
      <label>Cognome:</label> <span><input type="text" th:field="${form.cognome}"/></span>
      <span th:if="${#fields.hasErrors('cognome')}" th:errors="${form.cognome}"></span>
    </p>
    <p>
      <label>Data di nascita:</label> <span><input type="date" th:field="${form.nascita}"/></span>
      <span th:if="${#fields.hasErrors('nascita')}" th:errors="${form.nascita}"></span>
    </p>
    <p>
      <label>Ruolo:</label>
      <span><select th:field="${form.ruolo}">
            <option value="">--Scegli un ruolo--</option>
            <option value="PORTIERE">portiere</option>
            <option value="DIFENSORE">difensore</option>
            <option value="CENTROCAMPISTA">centrocampista</option>
            <option value="ATTACCANTE">attaccante</option>
      </select></span>
      <span th:if="${#fields.hasErrors('ruolo')}" th:errors="${form.ruolo}"></span>
    </p>
    <p>
      <label>Altezza (centimetri):</label> <span><input type="number" th:field="${form.altezza}"/></span>
      <span th:if="${#fields.hasErrors('altezza')}" th:errors="${form.altezza}"></span>
    </p>
    <p>
      <label>Squadra:</label>
      <select th:field="${form.squadraId}" size="1">
        <option value="">Seleziona una squadra</option>
        <option th:each="squadra : ${squadre}" th:value="${squadra.id}" th:text="${squadra.nome}"></option>
      </select>
      <span th:if="${#fields.hasErrors('squadraId')}" th:errors="${form.squadraId}"></span>
    </p>
    <p>
      <span><button type="submit">Conferma</button></span>
    </p>
  </form>
</body>
</html>