<!DOCTYPE html>
<html lang="it" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <p>
        <a href="/">Vai alla home</a>
    </p>
    <h1 th:text="${squadra.nome}">nome</h1>
    <p> <span th:text="|Anno fondazione: ${squadra.fondazione}|">fondazione</span>  </p>
    <p> <span th:text="|Città di appartenenza: ${squadra.citta}|">città</span>  </p>
    <p>
        <h2>Giocatori:</h2>
        <div th:if="${squadra.giocatori.isEmpty()}">Al momento questa squadra non ha giocatori registrati</divth:unless></div>
        <ul>
            <li th:each="giocatore : ${squadra.giocatori}">
                <a th:href="|/giocatori/${giocatore.id}|"
                   th:text="|${giocatore.nome} ${giocatore.cognome}|">nome</a>
            </li>
        </ul>
    </p>
    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="|/admin/squadre/${squadra.id}/modifica|">Modifica</a></p>
</body>
</html>