<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <p>
        <a th:href="@{/partite/{id}(id=${id})}">Vai alla partita</a>
    </p>
    <h1>Inserisci il risultato della partita</h1>
    <h2>
        <span th:href="|/squadre/${partita.squadraHome.id}|"
           th:text="${partita.squadraHome.nome}">SquadraHome</span>
        -
        <span th:href="|/squadre/${partita.squadraAway.id}|"
           th:text="${partita.squadraAway.nome}">SquadraAway</span>
    </h2>
    <form th:action="@{/admin/partite/{id}/inserisci-risultato(id=${id})}" method="POST" th:object="${partita}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <p>
            <label>Goals prima squadra:</label> <span><input type="number" min="0" th:field="${partita.goalsHome}"/></span>
            <span th:if="${#fields.hasErrors('goalsHome')}" th:errors="${partita.goalsHome}"></span>
        </p>
        <p>
            <label>Goals seconda squadra:</label> <span><input type="number" min="0" th:field="${partita.goalsAway}"/></span>
            <span th:if="${#fields.hasErrors('goalsAway')}" th:errors="${partita.goalsAway}"></span>
        </p>
        <p>
            <span><button type="submit">Conferma</button></span>
        </p>
    </form>
    <p>ATTENZIONE: se elimini una partita già giocata, verranno eliminati anche i punteggi associati.
        <form th:action="@{/admin/partite/{id}/elimina(id=${id})}" method="POST">
            <button type="submit">Elimina</button>
        </form>
    </p>
</body>
</html>