<!DOCTYPE html>
<html lang="it" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <h1 th:text="|${giocatore.nome} ${giocatore.cognome}|">nome cognome</h1>
    <p> <span th:text="|Nato il: ${#temporals.format(giocatore.nascita, 'dd/MM/yyyy')}|">nascita</span> </p>
    <p> Ruolo: <span th:text="${#strings.toLowerCase(giocatore.ruolo.name())}">ruolo</span> </p>
    <p> Altezza: <span th:text="|${giocatore.altezza} centimetri|">altezza</span> </p>
    <p> Squadra: <a th:href="|/squadre/${giocatore.squadra.id}|" th:text="${giocatore.squadra.nome}">squadra</a> </p>
    <p sec:authorize="hasAuthority('ADMIN')"><a th:href="|/admin/giocatori/${giocatore.id}/modifica|">Modifica</a></p>
</body>
</html>