<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
<p>
    <a href="/">Vai alla home</a>
</p>
<h1>Aggiungi un arbitro</h1>
<form th:action="@{/admin/arbitri/crea}" method="POST" th:object="${arbitro}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
    </div>
    <p>
        <label>Nome:</label> <span><input type="text" th:field="${arbitro.nome}"/></span>
        <span th:if="${#fields.hasErrors('nome')}" th:errors="${arbitro.nome}"></span>
    </p>
    <p>
        <label>Cognome:</label> <span><input type="text" th:field="${arbitro.cognome}"/></span>
        <span th:if="${#fields.hasErrors('cognome')}" th:errors="${arbitro.cognome}"></span>
    </p>
    <p>
        <label>Codice arbitrale:</label> <span><input type="number" th:field="${arbitro.codiceArbitrale}"/></span>
        <span th:if="${#fields.hasErrors('codiceArbitrale')}" th:errors="${arbitro.codiceArbitrale}"></span>
    </p>
    <p>
        <span><button type="submit">Conferma</button></span>
    </p>
</form>
</body>
</html>