<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <p>
        <a href="/">Vai alla home</a>
    </p>
    <h1>Aggiungi una squadra</h1>
    <form th:action="@{/admin/squadre/crea}" method="POST" th:object="${squadra}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <p>
            <label>Nome:</label> <span><input type="text" th:field="${squadra.nome}"/></span>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="${squadra.nome}"></span>
        </p>
        <p>
            <label>Anno di fondazione:</label> <span><input type="number" min="1857" step="1" th:field="${squadra.fondazione}"/></span>
            <span th:if="${#fields.hasErrors('fondazione')}" th:errors="${squadra.fondazione}"></span>
        </p>
        <p>
            <label>Città di appartenenza:</label> <span><input type="text" th:field="${squadra.citta}"/></span>
            <span th:if="${#fields.hasErrors('citta')}" th:errors="${squadra.citta}"></span>
        </p>
        <p>
            <span><button type="submit">Conferma</button></span>
        </p>
    </form>
</body>
</html>