<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <p>
        <a th:href="@{/squadre/{id}(id=${id})}">Vai alla squadra</a>
    </p>
    <h1>Modifica una squadra</h1>
    <form th:action="@{/admin/squadre/{id}/modifica(id=${id})}" method="POST" th:object="${squadra}">
        <p>
            <label>Nome:</label> <span><input type="text" th:field="${squadra.nome}"/></span>
        </p>
        <p>
            <label>Anno di fondazione:</label> <span><input type="number" min="1900" max="2100" step="1" th:field="${squadra.fondazione}"/></span>
        </p>
        <p>
            <label>Città di appartenenza:</label> <span><input type="text" th:field="${squadra.citta}"/></span>
        </p>
        <p>
            <span><button type="submit">Conferma</button></span>
        </p>
    </form>
    <p>ATTENZIONE: se elimini la squadra, verranno eliminate anche le iscrizioni, le partite, i punteggi associati e i giocatori appartenenti ad essa.
        <form th:action="@{/admin/squadre/{id}/elimina(id=${id})}" method="post">
            <button type="submit">Elimina</button>
        </form>
    </p>
</body>
</html>