<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SIW Calcio</title>
</head>
<body>
    <p>
        <a href="/">Vai alla home</a>
    </p>
    <h1>Aggiungi un torneo</h1>
    <form th:action="@{/admin/tornei/crea}" method="POST" th:object="${torneo}">
        <p>
            <label>Nome:</label> <span><input type="text" th:field="${torneo.nome}"/></span>
        </p>
        <p>
            <label>Anno:</label> <span><input type="number" min="2000" step="1" th:field="${torneo.anno}"/></span>
        </p>
        <p>
            <label>Descrizione:</label> <span><input type="text" th:field="${torneo.descrizione}"/></span>
        </p>
        <p>
            <span><button type="submit">Conferma</button></span>
        </p>
    </form>
</body>
</html>